Source: ros-iron-rmf-traffic-editor-test-maps
Section: misc
Priority: optional
Maintainer: Morgan Quigley <morgan@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-rmf-building-map-tools, ros-iron-ros2run, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-rmf-traffic-editor-test-maps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-ros-workspace
Description: Some test maps for traffic_editor and rmf_building_map_tools.
