Source: ros-kilted-rmf-traffic-editor-assets
Section: misc
Priority: optional
Maintainer: Brandon Ong <brandon@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rmf-traffic-editor-assets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ros-workspace
Description: Assets for use with traffic_editor.
